<h1>Children</h1>
<p>Before organizing child component.</p>
<unorganized-stuff>
    <div>The first unwanted out of all.</div>
    <details>This is the detailed stuff 1.</details>
    <div class="togetherness">Togetherness 1</div>
    <div class="togetherness">Togetherness 2</div>
    <aside of="bacon">A side of bacon.</aside>
    <aside of="fries">A side of fries.</aside>
</unorganized-stuff>
<p>
    After oganizing child component
</p>
<p>
    Before ignoring child component
</p>
<ignored-stuff>
    <a href="#">Ignored link1</a>
    <p>Ignored paragraph, but not anymore.</p>
</ignored-stuff>
<p>
    After ignoring child component
</p>
